@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(CapstoneProject.Content.resources.CWmenu.clockworks_menu_logout, "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken(){
            
            <li>
                @Html.ActionLink(CapstoneProject.Content.resources.CWmenu.clockworks_menu_sayhello + " " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        }
    }
}
else
{
    <li>@Html.ActionLink(CapstoneProject.Content.resources.CWmenu.clockworks_menu_login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink(CapstoneProject.Content.resources.CWmenu.clockworks_menu_register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
}
